## Imbalanced Dataset 

1. Upsampling
2. Downsampling

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Set random seed for reproducibility
np.random.seed(123)

#Making dataframe of two classes

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [3]:
n_class_0, n_class_1

(900, 100)

In [4]:
class_0 = pd.DataFrame({'feature_1' : np.random.normal(loc=0, scale=1, size=n_class_0),
                       'feature_2' : np.random.normal(loc=0, scale=1, size=n_class_0),
                        'target' : [0]*n_class_0})

class_1 = pd.DataFrame({'feature_1' : np.random.normal(loc=2, scale=1, size=n_class_1),
                       'feature_2' : np.random.normal(loc=2, scale=1, size=n_class_1),
                       'target' : [1]*n_class_1})

In [5]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [6]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [7]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

## Upsampling

In [8]:
from sklearn.utils import resample

In [10]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [14]:
df_minority

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1
..         ...        ...     ...
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

[100 rows x 3 columns]

In [15]:
df_majority

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
895   0.238761  -0.003155       0
896  -1.106386  -0.430660       0
897   0.366732  -0.146416       0
898   1.023906   1.160176       0
899  -0.210056  -0.641512       0

[900 rows x 3 columns]

In [18]:
#upsamling

df_minority_upsampled = resample(df_minority, 
                                 replace=True, ## sample with replacement
                                 n_samples= len(df_majority), ## to match the majority
                                 random_state=42)

In [28]:
df_minority.shape, df_majority.shape

((100, 3), (900, 3))

In [24]:
df_minority_upsampled.shape

(900, 3)

In [32]:
df_minority_upsampled['target'].value_counts()

1    900
Name: target, dtype: int64

In [39]:
df_upsampled = pd.concat([df_majority,df_minority_upsampled])

In [43]:
#Upsampling is success
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

## Downsampling

In [44]:
class_0 = pd.DataFrame({'feature_1' : np.random.normal(loc=0, scale=1, size=n_class_0),
                       'feature_2' : np.random.normal(loc=0, scale=1, size=n_class_0),
                        'target' : [0]*n_class_0})

class_1 = pd.DataFrame({'feature_1' : np.random.normal(loc=2, scale=1, size=n_class_1),
                       'feature_2' : np.random.normal(loc=2, scale=1, size=n_class_1),
                       'target' : [1]*n_class_1})

In [45]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [46]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [50]:
df_majority.shape

(900, 3)

In [51]:
df_majority_downsample = resample(df_majority, replace= False, n_samples=len(df_minority), random_state=42)

In [54]:
df_majority_downsample['target'].value_counts()

0    100
Name: target, dtype: int64

In [55]:
df_resample = pd.concat([df_majority_downsample, df_minority])

In [60]:
## Downsampling success
df_resample['target'].value_counts()

0    100
1    100
Name: target, dtype: int64